<?xml version="1.0"?>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    
    <add key="DataSource" value="localhost"/>
    <add key="UserID" value="TestUser"/>
    <add key="Password" value="Test@1234"/>    
  </appSettings>